name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  ES_VER: 9.2.4
  IMAGE_NAME: minghealtomni/elasticsearch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: clone main repo
      uses: actions/checkout@v2
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        file: Dockerfile
        push: true
        tags: ${{ env.IMAGE_NAME }}:${{ env.ES_VER }}
        build-args: |
          ES_VER=${{ env.ES_VER }}
